{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.nom }} !</h1>

<h2>Sessions en cours</h2>
{% if sessionsEnCours | length > 0 %}
<table>
    <thead>
        <tr>
            <th>Formation</th>
            <th>Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Editer</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessionsEnCours %}
        <tr>
            <td>{{ session.formation }}</td>
            <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
            <td>{{ session.dateDebut | date("d/m/Y") }}</td>
            <td>{{ session.dateFin | date("d/m/Y") }}</td>
            <td>{{ session.stagiaires | length }} / {{ session.places }}</td>
            <td><a href="{{ path('edit_session', {'id':session.id}) }}">Editer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Il n'y à aucune session en cours.</p>
{% endif %}

<h2>Sessions à venir</h2>
{% if sessionsAVenir | length > 0 %}
<table>
    <thead>
        <tr>
            <th>Formation</th>
            <th>Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Editer</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessionsAVenir %}
        <tr>
            <td>{{ session.formation }}</td>
            <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
            <td>{{ session.dateDebut | date("d/m/Y") }}</td>
            <td>{{ session.dateFin | date("d/m/Y") }}</td>
            <td>{{ session.stagiaires | length }} / {{ session.places }}</td>
            <td><a href="{{ path('edit_session', {'id':session.id}) }}">Editer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Il n'y à aucune session à venir.</p>
{% endif %}

<h2>Sessions passées</h2>
{% if sessionsPasses | length > 0 %}
<table>
    <thead>
        <tr>
            <th>Formation</th>
            <th>Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Editer</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessionsPasses %}
        <tr>
            <td>{{ session.formation }}</td>
            <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
            <td>{{ session.dateDebut | date("d/m/Y") }}</td>
            <td>{{ session.dateFin | date("d/m/Y") }}</td>
            <td>{{ session.stagiaires | length }} / {{ session.places }}</td>
            <td><a href="{{ path('edit_session', {'id':session.id}) }}">Editer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Il n'y à aucune sessions passées.</p>
{% endif %}

{% endblock %}