{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block mainTitle %}<h1>Bienvenue {{ app.user.nom }} !</h1>{% endblock %}

{% block body %}

<h2>Sessions en cours</h2>
<div class="section">
    {% if sessionsEnCours | length > 0 %}
    <table>
        <thead>
            <tr>
                <th class="width15">Formation</th>
                <th class="width25">Session</th>
                <th class="width15 center">Date de début</th>
                <th class="width15 center">Date de fin</th>
                <th class="width10 center">Inscrits</th>
                <th class="width10 center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsEnCours %}
            <tr>
                <td>{{ session.formation }}</td>
                <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
                <td class="center">{{ session.dateDebut | date("d/m/Y") }}</td>
                <td class="center">{{ session.dateFin | date("d/m/Y") }}</td>
                <td class="center">{{ session.stagiaires | length }} / {{ session.places }}</td>
                <td class="center">
                    <a class="btn" href="{{ path('edit_session', {'id':session.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                            <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Il n'y à aucune session en cours.</p>
    {% endif %}
</div>

<h2>Sessions à venir</h2>
<div class="section">
    {% if sessionsAVenir | length > 0 %}
    <table>
        <thead>
            <tr>
                <th class="width15">Formation</th>
                <th class="width25">Session</th>
                <th class="width15 center">Date de début</th>
                <th class="width15 center">Date de fin</th>
                <th class="width10 center">Inscrits</th>
                <th class="width10 center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsAVenir %}
            <tr>
                <td>{{ session.formation }}</td>
                <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
                <td class="center">{{ session.dateDebut | date("d/m/Y") }}</td>
                <td class="center">{{ session.dateFin | date("d/m/Y") }}</td>
                <td class="center">{{ session.stagiaires | length }} / {{ session.places }}</td>
                <td class="center"><a href="{{ path('edit_session', {'id':session.id}) }}">Editer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Il n'y à aucune session à venir.</p>
    {% endif %}
</div>

<h2>Sessions passées</h2>
<div class="section">
    {% if sessionsPasses | length > 0 %}
    <table>
        <thead>
            <tr>
                <th class="width15">Formation</th>
                <th class="width25">Session</th>
                <th class="width15 center">Date de début</th>
                <th class="width15 center">Date de fin</th>
                <th class="width10 center">Inscrits</th>
                <th class="width10 center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsPasses %}
            <tr>
                <td>{{ session.formation }}</td>
                <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
                <td class="center">{{ session.dateDebut | date("d/m/Y") }}</td>
                <td class="center">{{ session.dateFin | date("d/m/Y") }}</td>
                <td class="center">{{ session.stagiaires | length }} / {{ session.places }}</td>
                <td class="center"><a href="{{ path('edit_session', {'id':session.id}) }}">Editer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Il n'y à aucune sessions passées.</p>
    {% endif %}
</div>

{% endblock %}