{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block meta %}Listedes stagiaires{% endblock %}

{% block mainTitle %}<h1>Liste des stagiaires</h1>{% endblock %}

{% block body %}

<h2>Stagiaires</h2>
<div class="section">
    <a class="btn btn-large" href="{{ path('new_stagiaire') }}">Ajouter un stagiaire</a>
    {% if stagiaires | length > 0 %}
    <table>
        <thead>
            <tr>
                <th class="width20">Nom et Prénom</th>
                <th class="width5 center responsive-table-hide">Sexe</th>
                <th class="width10 center responsive-table-hide">Date de naissance</th>
                <th class="width20 responsive-table-hide">Ville</th>
                <th class="width15 responsive-table-hide">Email</th>
                <th class="width15 center responsive-table-hide">Telephone</th>
                <th class="width15 center responsive-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
            <tr>
                <td>
                    <a href="{{ path('show_stagiaire', {'id':stagiaire.id}) }}">{{ stagiaire}}</a>
                    <div class="responsive-show">
                        <br>Sexe : {{ stagiaire.sexe }}
                        <br>Date de naissance : {{ stagiaire.dateNaissance | date("d/m/Y") }}
                        <br>Ville : {{ stagiaire.ville }}
                        <br>Email : {{ stagiaire.email }}
                        <br>Telephone : {{ stagiaire.telephone }}
                    </div>
                </td>
                <td class="center responsive-table-hide">{{ stagiaire.sexe }}</td>
                <td class="center responsive-table-hide">{{ stagiaire.dateNaissance | date("d/m/Y") }}</td>
                <td class="responsive-table-hide">{{ stagiaire.ville }}</td>
                <td class="responsive-table-hide">{{ stagiaire.email }}</td>
                <td class="center responsive-table-hide">{{ stagiaire.telephone }}</td>
                <td class="center responsive-actions">
                    <div class="actions-multiple">
                        <a class="btn" href="{{ path('edit_stagiaire', {'id':stagiaire.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                            </svg>
                        </a>
                        <a class="btn" href="{{ path('delete_stagiaire', {'id':stagiaire.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Il n'y a aucun stagiaire enregisté</p>
    {% endif %}
</div>

{% endblock %}