{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

<h1>Liste des stagiaires</h1>

<a href="{{ path('new_stagiaire') }}">Ajouter un stagiaire</a>

{% if stagiaires | length > 0 %}
<table>
    <thead>
        <tr>
            <th>Nom et Prénom</th>
            <th>Sexe</th>
            <th>Date de naissance</th>
            <th>Ville</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Editer</th>
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in stagiaires %}
        <tr>
            <td><a href="{{ path('show_stagiaire', {'id':stagiaire.id}) }}">{{ stagiaire}}</a></td>
            <td>{{ stagiaire.sexe }}</td>
            <td>{{ stagiaire.dateNaissance | date("d/m/Y") }}</td>
            <td>{{ stagiaire.ville }}</td>
            <td>{{ stagiaire.email }}</td>
            <td>{{ stagiaire.telephone }}</td>
            <td>
                <a href="{{ path('edit_stagiaire', {'id':stagiaire.id}) }}">Editer ce stagiaire</a>
                <a href="{{ path('delete_stagiaire', {'id':stagiaire.id}) }}">Supprimer ce stagiaire</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Il n'y a aucun stagiaire enregisté</p>
{% endif %}

{% endblock %}