{% extends 'base.html.twig' %}

{% block title %}Fiche stagiaire : {{ stagiaire }}{% endblock %}

{% block mainTitle %}<h1>Fiche stagiaire : {{ stagiaire }}</h1>{% endblock %}

{% block body %}

<h2>Civilité</h2>
<div class="section">
    <ul>
        <li>Nom : {{ stagiaire.nom }}</li>
        <li>Prénom : {{ stagiaire.prenom }}</li>
        <li>Sexe : {{ stagiaire.sexe }}</li>
        <li>Date de naissance : {{ stagiaire.dateNaissance | date("d/m/Y") }}</li>
        <li>Ville : {{ stagiaire.ville }}</li>
        <li>Couriel : {{ stagiaire.email }}</li>
        <li>Téléphone : {{ stagiaire.telephone }}</li>
    </ul>
</div>

<h2>Sessions prévues :</h2>
<div class="section">
    {% if stagiaire.sessions | length > 0 %}
    <table>
        <thead>
            <tr>
                <th class="width25">Formation</th>
                <th>Session</th>
                <th class="width10 center">Date de début</th>
                <th class="width10 center">Date de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for session in stagiaire.sessions %}
            <tr>
                <td>{{ session.formation }}</td>
                <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
                <td class="center">{{ session.dateDebut | date("d/m/Y") }}</td>
                <td class="center">{{ session.dateFin | date("d/m/Y") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucune session prévue.</p>
    {% endif %}
</div>


{% endblock %}