{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

<a href="{{ path('new_session') }}">Ajouter une session</a>

{% if sessions | length > 0 %}
<table>
    <thead>
        <tr>
            <th>Formation</th>
            <th>Nom</th>
            <th>Places théoriques</th>
            <th>Places réservées</th>
            <th>Places restantes</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Editer</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        <tr>
            <td>{{ session.formation }}</td>
            <td><a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a></td>
            <td>{{ session.places }}</td>
            <td>{{ session.stagiaires | length }}</td>
            <td>{{ session.places - session.stagiaires | length }}</td>
            <td>{{ session.dateDebut | date("d/m/Y") }}</td>
            <td>{{ session.dateFin | date("d/m/Y") }}</td>
            <td>
                <a href="{{ path('edit_session', {'id':session.id}) }}">Editer</a>
                <a href="{{ path('delete_session', {'id':session.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Il n'y à aucune session en base de donnée.</p>
{% endif %}

{% endblock %}