{% extends 'base.html.twig' %}

{% block title %}Session : {{ session }}{% endblock %}

{% block body %}

<h1>{{ session }}</h1>

<ul>
    <li>Date de début : {{ session.dateDebut | date("d/m/Y") }}</li>
    <li>Date de fin : {{ session.dateFin | date("d/m/Y") }}</li>
    <li>Nombre de places : {{ session.places }}</li>
    <li>Nombre de places disponibles : {{ session.places - session.stagiaires | length }}</li>
    <li>Nombre de modules : {{ session.programmes | length }}</li>
</ul>

<h2>Stagiaires inscrits</h2>
<ul>
    {% if session.stagiaires | length > 0 %}
    {% for stagiaire in session.stagiaires %}
    <li><a href="{{ path('show_stagiaire', {'id':stagiaire.id}) }}">{{ stagiaire }}</a>
        - <a href="{{ path('removeStagiaire_session', {'id':session.id, 'stagiaire':stagiaire.id}) }}">Désinscrire</a>
    </li>
    {% endfor %}
    {% else %}
    <li>Il n'y à aucun stagiaire inscrit à cette session.</li>
    {% endif %}
</ul>

<h2>Stagiaires non inscrits</h2>
<ul>
    {% if session.stagiaires | length < session.places %} {% if stagiairesNonInscrits | length> 0 %}
        {% for stagiaire in stagiairesNonInscrits %}
        <li><a href="{{ path('show_stagiaire', {'id':stagiaire.id}) }}">{{ stagiaire }}</a>
            - <a href="{{ path('addStagiaire_session', {'id':session.id, 'stagiaire':stagiaire.id}) }}">Inscrire</a>
        </li>
        {% endfor %}
        {% else %}
        <li>Tout les stagiaires sont inscrits à cette session.</li>
        {% endif %}
        {% else %}
        <li>Cette session est complète.</li>
        {% endif %}
</ul>

<h2>Programme</h2>
<ul>
    {% if session.programmes | length > 0 %}
    {% for programme in session.programmes %}
    <li>{{ programme.module }} - {{ programme.module.categorie}} - {{ programme.nbJours }} jours -
        <a href="{{ path('removeModule_session', {'id':session.id, 'programme':programme.id}) }}">Retirer</a>
    </li>
    {% endfor %}
    {% else %}
    <li>Aucun module n'est programmé pour cette session.</li>
    {% endif %}
</ul>

<h2>Modules non programmés</h2>
<ul>
    {% if modulesNonProgrammes | length > 0 %}
    {% for module in modulesNonProgrammes %}
    <li>
        {{ module }} - {{ module.categorie }}
        <form action="{{ path('addModule_session', {'id':session.id, 'module':module.id}) }}" method="post">
            <input type="number" name="duree" id="duree" min="1">
            <button type="submit" name="submit" id="submit">Programmer</button>
        </form>
    </li>
    {% endfor %}
    {% else %}
    <li>Tout les modules existant ont étés programmés pour cette session.</li>
    {% endif %}
</ul>

{% endblock %}