{% extends 'base.html.twig' %}

{% block title %}Session : {{ session }}{% endblock %}

{% block mainTitle %}<h1>{{ session }}</h1>{% endblock %}

{% block body %}

<h2>Détails de la session</h2>
<div class="section">
    <ul>
        <li class="formateur">Formateur référent : <a href="{{ path('show_formateur', {'id':session.formateur.id}) }}">{{ session.formateur }}</a></li>
        <li>Date de début : {{ session.dateDebut | date("d/m/Y") }}</li>
        <li>Date de fin : {{ session.dateFin | date("d/m/Y") }}</li>
        <li>Nombre de places : {{ session.places }}</li>
        <li>Nombre de places disponibles : {{ session.places - session.stagiaires | length }}</li>
        <li>Nombre de modules : {{ session.programmes | length }}</li>
    </ul>
</div>
<div class="sections">
    <div class="section-col-40">
        <h2>Stagiaires inscrits</h2>
        <div class="section">
            {% if session.stagiaires | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Stagiaire</th>
                        <th class="width25 center">Désinscrire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td><a href="{{ path('show_stagiaire', {'id':stagiaire.id}) }}">{{ stagiaire }}</a></td>
                        <td class="center">
                            <a class="btn btn-center" href="{{ path('removeStagiaire_session', {'id':session.id, 'stagiaire':stagiaire.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                    <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Il n'y à aucun stagiaire inscrit à cette session.</p>
            {% endif %}
        </div>

        <h2>Stagiaires non inscrits</h2>
        <div class="section">
            {% if session.stagiaires | length < session.places %}
                {% if stagiairesNonInscrits | length> 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Stagiaire</th>
                            <th class="width25 center">Inscrire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in stagiairesNonInscrits %}
                        <tr>
                            <td><a href="{{ path('show_stagiaire', {'id':stagiaire.id}) }}">{{ stagiaire }}</a></td>
                            <td class="center">
                                <a class="btn btn-center" href="{{ path('addStagiaire_session', {'id':session.id, 'stagiaire':stagiaire.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Tout les stagiaires sont inscrits à cette session.</p>
                {% endif %}
            {% else %}
            <p>Cette session est complète.</p>
            {% endif %}
        </div>
    </div>
    <div class="section-col-60">
        <h2>Programme</h2>
        <div class="section">
            {% if  session.programmes | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                        <th class="width25">Catégorie</th>
                        <th class="width15 center">Durée</th>
                        <th class="width15 center">Retirer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programme in session.programmes %}
                    <tr>
                        <td>{{ programme.module }}</td>
                        <td>{{ programme.module.categorie}}</td>
                        <td class="center">{{ programme.nbJours }} jour{% if programme.nbJours > 1 %}s{% endif %}</td>
                        <td class="center">
                            <a class="btn btn-center" href="{{ path('removeModule_session', {'id':session.id, 'programme':programme.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                    <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Aucun module n'est programmé pour cette session.</p>
            {% endif %}
        </div>

        <h2>Modules non programmés</h2>
        <div class="section">

            {% if  modulesNonProgrammes | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                        <th class="width25">Catégorie</th>
                        <th class="width25 center">Durée</th>
                        <th class="width15 center">Retirer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modulesNonProgrammes %}
                    <tr>
                        <td>{{ module }}</td>
                        <td>{{ module.categorie}}</td>
                        <form action="{{ path('addModule_session', {'id':session.id, 'module':module.id}) }}" method="post">
                            <td class="form-duree"><input class="input-duree" type="number" name="duree" id="duree" min="1" required> jours</td>
                            <td>
                                <button class="btn btn-center btn-form" type="submit" name="submit" id="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                                    </svg>
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Tout les modules existant ont étés programmés pour cette session.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}