{% extends 'base.html.twig' %}

{% block title %}Session : {{ session }}{% endblock %}

{% block body %}

<h1>{{ session }}</h1>
<ul>
    {% set cat = '' %}
    {% for programme in session.programmes %}
    {% if cat !=  programme.module.categorie  %}
    <li>{{ programme.module.categorie }}</li>
    {% endif %}
    {% set cat = programme.module.categorie %}
    <li>{{ programme.module.nom }} - {{ programme.nbJours }} jours</li>
    {% endfor %}
</ul>

{% endblock %}
