{% extends 'base.html.twig' %}

{% block title %}Formateur : {{ formateur }}{% endblock %}

{% block mainTitle %}<h1>{{ formateur }}</h1>{% endblock %}

{% block body %}

<h2>Civilité</h2>
<div class="section">
    <ul>
        <li>Nom : {{ formateur.nom }}</li>
        <li>Prénom : {{ formateur.prenom }}</li>
        <li>Sexe : {{ formateur.sexe }}</li>
        <li>Date de naissance : {{ formateur.dateNaissance | date("d/m/Y") }}</li>
        <li>Ville : {{ formateur.ville }}</li>
        <li>Couriel : {{ formateur.email }}</li>
        <li>Téléphone : {{ formateur.telephone }}</li>
    </ul>
</div>


{% endblock %}